//General Attributes

@import './partials/TypeAttributes.scss'; //2
@import './partials/HeaderAttributes.scss'; //3
@import './partials/FoodAttributes.scss'; //4
@import './partials/FooterAttributes.scss'; //5
@import './partials/AllFormsAttributes.scss'; //6
@import './partials/DashboardAttributes.scss'; // 7
@import './partials/AllButtons.scss'; //8

// Responsive Attributes

@import './partials/ResponsiveDetails/320px.scss';
@import './partials/ResponsiveDetails/375px.scss';
@import './partials/ResponsiveDetails/425px.scss';
@import './partials/ResponsiveDetails/768px.scss';
@import './partials/ResponsiveDetails/1024px.scss';
@import './partials/ResponsiveDetails/1440px.scss';
@import './partials/ResponsiveDetails/2650px.scss';
@import './partials/ResponsiveDetails/oltre2650.scss';

@import '~bootstrap/scss/bootstrap';

// .menuSize {
//     width: 100% !important;
//     display: flex !important;
//     justify-content: space-evenly!important;
//     font-size: 21px;
//     font-weight: 100;
// }

.gutter {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.mainColor {
    background-color: rgba(53, 54, 58, 255);
    color: white !important;
}


.titleColor {
    color: white;
}

.modalStyle {
    color: white;
    background-color: #000 !important;
}

#headerContainer {
    max-width: 1440px;
    margin: 0 auto;
    line-height: 20px;
}

#loginSet {
    max-width: 1440px;
    margin: 0 auto;
    line-height: 20px;
}

//PER TOGLIERE IL BORDO BIANCO A TUTTE LE CLASSI CARD
.card {
    --bs-card-border-color: none;
}


.typeResponsive {
    margin-top: 17px !important;
}

.bottoniFood {
    border-radius: 45px !important;
    padding: 3px 8px !important;
}

.profileMargin {
    margin-top: 127px;
}

.imgBorder {
    border-radius: 10px;
}

.typeContainer {
    position: relative;
}

.tagAbs {
    position: absolute;
    top: 61%;
    left: 8%;
}

.tagStyle {
    padding: 23px 16px;
    border-radius: 107px;
    font-size: 17px;
    /* font-weight: bold; */
    background-color: #ff4357;
    border: 3px solid #372f2f;
    color: white;
    font-weight: 700;
    font-family: 'Darumadrop One', cursive;
}


.tagTag {
    position: absolute;
    top: 37%;
    left: 8%;
}

.styleTag {
    padding: 14px 12px;
    border-radius: 107px;
    font-size: 9px;
    background-color: #ff4357;
    border: 3px solid #372f2f;
    color: white;
    font-weight: 700;
    font-family: "Darumadrop One", cursive;
}

.smallMarginCucine {
    margin-top: 11%;
}

.registerMargin {
    margin-top: 127px !important;
}

.marginLogin {
    margin-top: 127px !important;
}

.passwordResetMargin {
    margin-top: 127px !important;
}

//PER TOGLIERE IL BORDO BIANCO A TUTTE LE CLASSI CARD
.card {
    --bs-card-border-color: none;
}

.card-header {
    --bs-card-border-color: none !important;
    border-top: none;
}

.card-body {
    --bs-card-border-color: none !important;
}

.typeBox {
    .typeDetails {
        border-radius: 59px;

        a {
            color: #ff4357;
            text-decoration: none;
            vertical-align: middle;
            line-height: 30px;
            font-size: 30px;
            font-family: 'Darumadrop One', cursive;
        }

        hr {
            width: 5%;
            color: #ff4357;
        }
    }
}

.smallType {
    .smallDetails {
        border-radius: 59px;

        a {
            color: #ff4357;
            text-decoration: none;
            vertical-align: middle;
            line-height: 30px;
            font-size: 20px;
            font-family: 'Darumadrop One', cursive;
        }

        hr {
            width: 5%;
            color: #ff4357;
        }
    }
}

.verifyMailMargin {
    margin-top: 127px;
}

.inputStyle {
    padding: 0px 14px !important;
    vertical-align: middle !important;
    line-height: 3px !important;
}

.butsStyle {
    line-height: 22px !important;
    padding: 9px !important;
    border-radius: 9px !important;
}