// AREA DASHBOARD - ADMIN.BLADE.PHP
//MENU RISTORATORE


.logout {
    color: white;
    font-size: 23px;
}

.logout:hover {
    color: rgb(0, 0, 0);
}

.adminBots {
    color: white;
    font-size: 17px;
}

.adminBots:hover {
    color: rgb(0, 0, 0);
}


//Backgroun dell'item selezionato nel menu
.backgroundSelected {
    background-color: rgba(252, 70, 107, 1);
    border-radius: 10px;
}

// SEMPRE VISIBILE LA TABELLA GRANDE tranne che per 320 in giu
.bigScreen {
    display: block;
}

//MAI VISIBILE SE NON PER i 320px in giù

.smallScreen {
    display: none;
}