// SPECIFICHE PER BOTTONE HOME DELLA NAVBAR
.home {
    padding-left: 0px !important;
}

// ATTRIBUTI PER TUTTI I BOTTONI DELLA NAVBAR
// HOME - REGISTER - LOGIN - LOGOUT
.navButton {
    font-weight: bold;
    color: white;
    font-size: 23px;
}

.navButton:hover {
    color:  rgba(252, 70, 107, 1);
}


// FORGOT PASSWORD LINK

.forgotPassword {
    color: rgba(252, 70, 107, 1);
}

.forgotPassword:hover {
    color: black;
}



.homepageButton {
    position: absolute;
    top: 79%;
    left: 10%;

    .homepage {
        font-size: 15px;
        color: white;
        padding: 0px 0px 0px 12px;
    }
}

