// LOGIN FORM - HEADER + BODY dei form

.formHeader {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: orange;
}

// LOGIN FORM - BODY 

.formBody {
    background-color: rgba(221, 175, 114, 0.548);
}

.formMargin {
    margin-top: 6.5%;
}

// Margine tra la barra inferiore e il form su REGISTER.BLADE.PHP 
.marginForm {
    margin-bottom: 90px;
}

// TITOLO: "MODIFICA PROFILO" nell'EDIT di profile
.profileColor {
    color: black;
    font-size: larger;
}


// UPDATE PROFILE INFORMATION FORM BLADE.PHP 
.updateTitle {
    color: rgba(252, 70, 107, 1);
}